footer {
    background: $dark_blue;
    color: white;
    padding: 50px 0 0;
    margin: 20px 0 0;
    border-top: solid 10px #4ccedf;

    .social_icon{
      text-indent: -999999px;
      display: inline-block;
      height: 25px;
      width: 25px;
      margin-right: 10px;
      background-size:contain;
      background-repeat: no-repeat;
      background-position: left top;
      &.fb_footer{
        background-image: url(../img/facebook.svg);
      }
      &.insta_footer{
        background-image: url(../img/instagram.svg);
      }
    }



    form {
        input, input[type="submit"] {
            width: 24%;
            display: inline-block;
            padding: 10px;
        }

        input[type="submit"] {
            background: $light_blue;
        }

    }
}

#garantie_suisse {
    margin: 10px 0 0;
    img {
        width: 150px;
        height: auto;
        padding: 10px;
        background: white;
    }
}


.footer_bottom {
    background: transparentize(black, 0.5);
    padding: 10px 0;
    margin: 50px 0 0;
    text-align: center;
    p {
        padding: 0;
    }
}
