footer {
    background: #003767;
    color: white;
    padding: 50px 0 0;
    margin: 20px 0 0;


    form {
        input, input[type="submit"] {
            width: 24%;
            display: inline-block;
            padding: 10px;
        }

        input[type="submit"] {
            background: $light_blue;
        }

    }
}


.footer_bottom {
    background: transparentize(black, 0.5);
    padding: 10px 0;
    margin: 50px 0 0;
    text-align: center;
    p {
        padding: 0;
    }
}
