$brand_color: #5bc0d5;
$background_color: #fff;
$font_color: #484848;
$font_stack: 'Work Sans', arial, helvetica, 'ubuntu', verdana, sans-serif;
$dark_grey: #ccc;
$medium_grey: #aaa;
$light_grey: #f1f1f1;
$font_size: 1.5em;
$line_height: 160%;

$gradient: linear-gradient(186deg, rgb(0, 0, 0) 0%, rgb(61, 135, 202) 1%, rgb(95, 165, 218) 99%);

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

$border-radius: 7px;


$header_height: 80px;
